body {
    background-color: #212237;
    font-size: 100%;
}


/* font-family: 'Be Vietnam Pro', sans-serif; */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #D3D3D3;
    float: right;
    border-radius: 100px;
    position: relative;
    top: 5.2px;
    left: -9px;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #ED4245;
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + label {
    background: #D3D3D3;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: #3BA55D;
}

label:active:after {
    width: 4;
}
.header-style {
    position: fixed;
    width: 375px;
    height: 82px;
    top: 0%;
    left: 0%;
    border-radius: 0px;
   
    background: #FFFFFF;
    box-shadow: 0px 3px #F9AF22, -1em 0 0.4em;
}
.title-app {
    position:absolute;
    left: 10%;
    top: 25%;
    border-radius: null;


    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 82.6%;
    /* or 18px */

    color: #212237;
}
/* .search-div {
    position: absolute;
    width: 322px;
    height: 55px;

    left: 25px;
    top: 110px; */

/* } */
.search-id{
    position: relative;
    width: 317px;
    height: 40px;
    left: 15px;
    top: 110px;
    background: #F9AF22;
    border-radius: 2px 2px 0px 0px;
    z-index: 1;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 82.6%;
    /* or 12px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #212237;

}
 #text-which{

    font-family: 'Be Vietnam Pro', sans-serif;
    position: absolute;

    left: 25px;
    top: 35px;

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 82.6%;
/* or 17px */


    color: #212237;

}
.div-which{
    position: absolute;
    width: 322px;
    height: 214px;
    left: 26px;
    top: 163px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    border-radius: 2px;
    left: 25px;
    top: 138px;
    z-index: 0;
}
.div-get-id{
    position: absolute;
    width: 322px;
    height: 51px;
    left: 25px;
    top: 258px;
    background: transparent;
    z-index: 1;
}



.div-instalock{
    /* Rectangle 6 */


    position: absolute;
    width: 322px;
    height: 37px;
    left: 25px;
    top: 325px;
    background: #FFFFFF;
    border-radius: 15px 2px 2px 15px;

}

#text-insta{
    position: absolute;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 12px;
    line-height: 82.6%;
    /* or 7px */
    top: 3.6px;
    left: 45px;
    color: #212237;

}




.button-start{
    position: fixed;
    width: 159px;
    height: 36px;
    text-align: center;
    background: #F9AF22;
    border-radius: 400px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 82.6%;
    /* or 12px */


    color: #212237;
    bottom: 23px;
    left: 106px;
    
}
.div-footer {
    position: fixed;
    width: 375px;
    height: 82px;
    left: 0px;
    bottom: -4px;
    background: #FFFFFF;
    box-shadow: 0px -3px 0px #F9AF22;
    


}
.get-id {
    position: relative;
    width: 288px;
    height: 49px;
    left: 13px;
    background: #E5E5E5;
    border-radius: 40px;
    
    
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 82.6%;
    /* or 12px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #212237;
    }
/* ESSE COMANDO NAO FUNCIONA FOADASE VOU SURTAR AAAAAAAAASSSSSAAAAAAAAAAAAAAAAAAA */
/* button:focus {
    outline:none;
    box-shadow: none;
  } 
  input:focus, textarea:focus, select:focus{
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
*/